In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.newchic.com/mens-boots-c-3618/?country=63&conversionType=US&from=nav'
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_86\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_86\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [4]:
data_name = soup.findAll('p', class_='wom_lst_name ellipsis')
data_name

[<p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1562779.html?rmmds=category" target="_blank" title="Men Leather Non Slip Casual Ankle Boots">Men Leather Non Slip Casual Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1562776.html?rmmds=category" target="_blank" title="Men Retro Leather Cloth Splicing Ankle Boots">Men Retro Leather Cloth Splicing Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1562774.html?rmmds=category" target="_blank" title="Men Waterproof Warm Lining Ankle Boots">Men Waterproof Warm Lining Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1562771.html?rmmds=category" target="_blank" title="Men British Stylish Cap Toe Casual Boots">Men British Stylish Cap Toe Casual Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1562772.html?rmmds=category" target="_blank" title="Men Old Peking Style Fabric Warn Boots">Men Old Peking Style Fabric Warn Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1562769.html?rmmds=category" target="_blank" title="Men Outdoor Waterproof Warm Hiking Boots">Men Outdoor Waterproof Warm Hiking Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-mens-boots-3618/p-1560582.html?rmmds=category" target="_blank" title="Menico Men Suede Lace Up Desert Boots ">Menico Men Suede Lace Up Desert Boots </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1560581.html?rmmds=category" target="_blank" title="Men British Style Comfy Leather Chelsea Boots">Men British Style Comfy Leather Chelsea Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1560579.html?rmmds=category" target="_blank" title="Men Stylish Work Style Motorcycle Boots">Men Stylish Work Style Motorcycle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-mens-boots-3618/p-1560331.html?rmmds=category" target="_blank" title="Menico Men Suede Non Slip Ankle Boots">Menico Men Suede Non Slip Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1560329.html?rmmds=category" target="_blank" title="Men Retro Leather Non Slip Casual Ankle Boots">Men Retro Leather Non Slip Casual Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1560321.html?rmmds=category" target="_blank" title="Men PU Leather Non Slip Causal Boots">Men PU Leather Non Slip Causal Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1560323.html?rmmds=category" target="_blank" title="Men Carved Leather Non Slip Casual Boots">Men Carved Leather Non Slip Casual Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1559632.html?rmmds=category" target="_blank" title="Men England Style  Boots Sports Shoes ">Men England Style  Boots Sports Shoes </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1559626.html?rmmds=category" target="_blank" title="Men Pointed  Block Style  Boots  ">Men Pointed  Block Style  Boots  </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1559446.html?rmmds=category" target="_blank" title="Men Rubber Toe Bumper Leather Ankle Boots">Men Rubber Toe Bumper Leather Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1559447.html?rmmds=category" target="_blank" title="Men Outdoor Work Style Hiking Boots">Men Outdoor Work Style Hiking Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1559203.html?rmmds=category" target="_blank" title="Men Hand Stitching Leather Non-slip Casual Boots">Men Hand Stitching Leather Non-slip Casual Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-mens-boots-3618/p-1558827.html?rmmds=category" target="_blank" title="Menico Men Harness-Strap Hand Stitching Leather Boots">Menico Men Harness-Strap Hand Stitching Leather Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1558824.html?rmmds=category" target="_blank" title="Men Work Style Slip Resistant Ankle Boots">Men Work Style Slip Resistant Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-mens-boots-3618/p-1558668.html?rmmds=category" target="_blank" title="Menico Men Plush Lining Casual Ankle Boots">Menico Men Plush Lining Casual Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-mens-boots-3618/p-1558128.html?rmmds=category" target="_blank" title="Menico Men Comfy Moccasin Toe Leather Ankle Boots">Menico Men Comfy Moccasin Toe Leather Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-mens-boots-3618/p-1558061.html?rmmds=category" target="_blank" title="Men Hand Stitching Casual Leathers Boots">Men Hand Stitching Casual Leathers Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-mens-boots-3618/p-1558064.html?rmmds=category" target="_blank" title="Men Microfiber Leather Outdoor Ankle Boots">Men Microfiber Leather Outdoor Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/sneakers-3622/p-1557606.html?rmmds=category" target="_blank" title="Men Outdoor Climbing Hiking Boots">Men Outdoor Climbing Hiking Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1557609.html?rmmds=category" target="_blank" title="Men Comfy Elastic Slip On Ankle Boots">Men Comfy Elastic Slip On Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-mens-boots-3618/p-1557081.html?rmmds=category" target="_blank" title="Menico Classic Round Toe Leather Ankle Boots">Menico Classic Round Toe Leather Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1557080.html?rmmds=category" target="_blank" title="Men Stylish Suede Chelsea Boots">Men Stylish Suede Chelsea Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1556532.html?rmmds=category" target="_blank" title="Men Cow Leather Hand Stitching Ankle Boots">Men Cow Leather Hand Stitching Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1556389.html?rmmds=category" target="_blank" title="Men Suede Canvas Splicing Outdoor Ankle Boots">Men Suede Canvas Splicing Outdoor Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1555860.html?rmmds=category" target="_blank" title="Men PU Leather Outdoor Casual Tooling Boots">Men PU Leather Outdoor Casual Tooling Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1555859.html?rmmds=category" target="_blank" title="Men Cow Leather Non Slip Ankle Boots ">Men Cow Leather Non Slip Ankle Boots </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1555662.html?rmmds=category" target="_blank" title="Men Waterproof Microfiber Leather Ankle Boots">Men Waterproof Microfiber Leather Ankle Boots</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1555622.html?rmmds=category" target="_blank" title="Men Metal Non Slip Casual Leather Boots ">Men Metal Non Slip Casual Leather Boots </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-boots-3618/p-1555621.html?rmmds=category" target="_blank" title="Men Suede Fabric Splicing Non-slip Outdoor Boots ">Men Suede Fabric Splicing Non-slip Outdoor Boots </a>
 </p>]

In [5]:
## Clean Data ##
import re
Names = []
for li in data_name:
    str_name = str(li)
    pattern = '<.*?>'
    clean_name = re.sub(pattern, '', str_name)
    Names.append(clean_name)
Names

['\nMen Leather Non Slip Casual Ankle Boots\n',
 '\nMen Retro Leather Cloth Splicing Ankle Boots\n',
 '\nMen Waterproof Warm Lining Ankle Boots\n',
 '\nMen British Stylish Cap Toe Casual Boots\n',
 '\nMen Old Peking Style Fabric Warn Boots\n',
 '\nMen Outdoor Waterproof Warm Hiking Boots\n',
 '\n Menico\nMenico Men Suede Lace Up Desert Boots \n',
 '\nMen British Style Comfy Leather Chelsea Boots\n',
 '\nMen Stylish Work Style Motorcycle Boots\n',
 '\n Menico\nMenico Men Suede Non Slip Ankle Boots\n',
 '\nMen Retro Leather Non Slip Casual Ankle Boots\n',
 '\nMen PU Leather Non Slip Causal Boots\n',
 '\nMen Carved Leather Non Slip Casual Boots\n',
 '\nMen England Style  Boots Sports Shoes \n',
 '\nMen Pointed  Block Style  Boots  \n',
 '\nMen Rubber Toe Bumper Leather Ankle Boots\n',
 '\nMen Outdoor Work Style Hiking Boots\n',
 '\nMen Hand Stitching Leather Non-slip Casual Boots\n',
 '\n Menico\nMenico Men Harness-Strap Hand Stitching Leather Boots\n',
 '\nMen Work Style Slip Resistant Ankle Boots\n',
 '\n Menico\nMenico Men Plush Lining Casual Ankle Boots\n',
 '\n Menico\nMenico Men Comfy Moccasin Toe Leather Ankle Boots\n',
 '\n Menico\nMen Hand Stitching Casual Leathers Boots\n',
 '\n Menico\nMen Microfiber Leather Outdoor Ankle Boots\n',
 '\nMen Outdoor Climbing Hiking Boots\n',
 '\nMen Comfy Elastic Slip On Ankle Boots\n',
 '\n Menico\nMenico Classic Round Toe Leather Ankle Boots\n',
 '\nMen Stylish Suede Chelsea Boots\n',
 '\nMen Cow Leather Hand Stitching Ankle Boots\n',
 '\nMen Suede Canvas Splicing Outdoor Ankle Boots\n',
 '\nMen PU Leather Outdoor Casual Tooling Boots\n',
 '\nMen Cow Leather Non Slip Ankle Boots \n',
 '\nMen Waterproof Microfiber Leather Ankle Boots\n',
 '\nMen Metal Non Slip Casual Leather Boots \n',
 '\nMen Suede Fabric Splicing Non-slip Outdoor Boots \n']

In [6]:
x = pd.Index(range(70,105))
print(x)

RangeIndex(start=70, stop=105, step=1)

In [7]:
df = pd.DataFrame(Names,index=x)
df.head()

                                                   0
70       \nMen Leather Non Slip Casual Ankle Boots\n
71  \nMen Retro Leather Cloth Splicing Ankle Boots\n
72        \nMen Waterproof Warm Lining Ankle Boots\n
73      \nMen British Stylish Cap Toe Casual Boots\n
74        \nMen Old Peking Style Fabric Warn Boots\n

In [8]:
df[0] = df[0].str.strip('\n')
df.head()

                                               0
70       Men Leather Non Slip Casual Ankle Boots
71  Men Retro Leather Cloth Splicing Ankle Boots
72        Men Waterproof Warm Lining Ankle Boots
73      Men British Stylish Cap Toe Casual Boots
74        Men Old Peking Style Fabric Warn Boots

In [9]:
df.rename(columns={0:'Names'}, inplace=True)

In [10]:
df['Names'].replace('\n','', regex=True, inplace=True)
df

                                                 Names
70             Men Leather Non Slip Casual Ankle Boots
71        Men Retro Leather Cloth Splicing Ankle Boots
72              Men Waterproof Warm Lining Ankle Boots
73            Men British Stylish Cap Toe Casual Boots
74              Men Old Peking Style Fabric Warn Boots
75            Men Outdoor Waterproof Warm Hiking Boots
76        MenicoMenico Men Suede Lace Up Desert Boots
77       Men British Style Comfy Leather Chelsea Boots
78             Men Stylish Work Style Motorcycle Boots
79         MenicoMenico Men Suede Non Slip Ankle Boots
80       Men Retro Leather Non Slip Casual Ankle Boots
81                Men PU Leather Non Slip Causal Boots
82            Men Carved Leather Non Slip Casual Boots
83              Men England Style  Boots Sports Shoes
84                   Men Pointed  Block Style  Boots
85           Men Rubber Toe Bumper Leather Ankle Boots
86                 Men Outdoor Work Style Hiking Boots
87    Men Hand Stitching Leather Non-slip Casual Boots
88    MenicoMenico Men Harness-Strap Hand Stitching...
89           Men Work Style Slip Resistant Ankle Boots
90    MenicoMenico Men Plush Lining Casual Ankle Boots
91    MenicoMenico Men Comfy Moccasin Toe Leather A...
92      MenicoMen Hand Stitching Casual Leathers Boots
93    MenicoMen Microfiber Leather Outdoor Ankle Boots
94                   Men Outdoor Climbing Hiking Boots
95               Men Comfy Elastic Slip On Ankle Boots
96    MenicoMenico Classic Round Toe Leather Ankle ...
97                     Men Stylish Suede Chelsea Boots
98          Men Cow Leather Hand Stitching Ankle Boots
99       Men Suede Canvas Splicing Outdoor Ankle Boots
100        Men PU Leather Outdoor Casual Tooling Boots
101              Men Cow Leather Non Slip Ankle Boots
102      Men Waterproof Microfiber Leather Ankle Boots
103           Men Metal Non Slip Casual Leather Boots
104  Men Suede Fabric Splicing Non-slip Outdoor Boots

In [11]:
data_price = soup.findAll('span', class_='price product-price-js')
data_price

[<span class="price product-price-js" oriprice="46.53" rule_final_price="">782.17E£</span>,
 <span class="price product-price-js" oriprice="52.92" rule_final_price="">889.58E£</span>,
 <span class="price product-price-js" oriprice="37.85" rule_final_price="">636.26E£</span>,
 <span class="price product-price-js" oriprice="46.96" rule_final_price="">789.40E£</span>,
 <span class="price product-price-js" oriprice="38.25" rule_final_price="">642.98E£</span>,
 <span class="price product-price-js" oriprice="45.78" rule_final_price="">769.56E£</span>,
 <span class="price product-price-js" oriprice="67.57" rule_final_price="">1,135.85E£</span>,
 <span class="price product-price-js" oriprice="52.95" rule_final_price="">890.09E£</span>,
 <span class="price product-price-js" oriprice="35.71" rule_final_price="">600.28E£</span>,
 <span class="price product-price-js" oriprice="64.67" rule_final_price="">1,087.10E£</span>,
 <span class="price product-price-js" oriprice="67.03" rule_final_price="">1,126.77E£</span>,
 <span class="price product-price-js" oriprice="38.97" rule_final_price="">655.08E£</span>,
 <span class="price product-price-js" oriprice="59.99" rule_final_price="">1,008.43E£</span>,
 <span class="price product-price-js" oriprice="43.47" rule_final_price="">730.73E£</span>,
 <span class="price product-price-js" oriprice="39.99" rule_final_price="">672.23E£</span>,
 <span class="price product-price-js" oriprice="41.77" rule_final_price="">702.15E£</span>,
 <span class="price product-price-js" oriprice="45.37" rule_final_price="">762.67E£</span>,
 <span class="price product-price-js" oriprice="46.96" rule_final_price="">789.40E£</span>,
 <span class="price product-price-js" oriprice="52.75" rule_final_price="">886.73E£</span>,
 <span class="price product-price-js" oriprice="39.71" rule_final_price="">667.52E£</span>,
 <span class="price product-price-js" oriprice="43.03" rule_final_price="">723.33E£</span>,
 <span class="price product-price-js" oriprice="39.51" rule_final_price="">664.16E£</span>,
 <span class="price product-price-js" oriprice="39.51" rule_final_price="">664.16E£</span>,
 <span class="price product-price-js" oriprice="39.51" rule_final_price="">664.16E£</span>,
 <span class="price product-price-js" oriprice="35.49" rule_final_price="">596.59E£</span>,
 <span class="price product-price-js" oriprice="39.99" rule_final_price="">672.23E£</span>,
 <span class="price product-price-js" oriprice="23.81" rule_final_price="">400.25E£</span>,
 <span class="price product-price-js" oriprice="54.71" rule_final_price="">919.67E£</span>,
 <span class="price product-price-js" oriprice="49.99" rule_final_price="">840.33E£</span>,
 <span class="price product-price-js" oriprice="64.57" rule_final_price="">1,085.42E£</span>,
 <span class="price product-price-js" oriprice="43.34" rule_final_price="">728.54E£</span>,
 <span class="price product-price-js" oriprice="55.9" rule_final_price="">939.68E£</span>,
 <span class="price product-price-js" oriprice="59.78" rule_final_price="">1,004.90E£</span>,
 <span class="price product-price-js" oriprice="51.13" rule_final_price="">859.49E£</span>,
 <span class="price product-price-js" oriprice="62.66" rule_final_price="">1,053.31E£</span>]

In [12]:
## Clean Data ##
import re
Prices = []
for li in data_price:
    str_name = str(li)
    pattern = '<.*?>'
    clean_name = re.sub(pattern, '', str_name)
    Prices.append(clean_name)
Prices

['782.17E£',
 '889.58E£',
 '636.26E£',
 '789.40E£',
 '642.98E£',
 '769.56E£',
 '1,135.85E£',
 '890.09E£',
 '600.28E£',
 '1,087.10E£',
 '1,126.77E£',
 '655.08E£',
 '1,008.43E£',
 '730.73E£',
 '672.23E£',
 '702.15E£',
 '762.67E£',
 '789.40E£',
 '886.73E£',
 '667.52E£',
 '723.33E£',
 '664.16E£',
 '664.16E£',
 '664.16E£',
 '596.59E£',
 '672.23E£',
 '400.25E£',
 '919.67E£',
 '840.33E£',
 '1,085.42E£',
 '728.54E£',
 '939.68E£',
 '1,004.90E£',
 '859.49E£',
 '1,053.31E£']

In [13]:
df1 = pd.DataFrame(Prices, index=x)
df1

              0
70     782.17E£
71     889.58E£
72     636.26E£
73     789.40E£
74     642.98E£
75     769.56E£
76   1,135.85E£
77     890.09E£
78     600.28E£
79   1,087.10E£
80   1,126.77E£
81     655.08E£
82   1,008.43E£
83     730.73E£
84     672.23E£
85     702.15E£
86     762.67E£
87     789.40E£
88     886.73E£
89     667.52E£
90     723.33E£
91     664.16E£
92     664.16E£
93     664.16E£
94     596.59E£
95     672.23E£
96     400.25E£
97     919.67E£
98     840.33E£
99   1,085.42E£
100    728.54E£
101    939.68E£
102  1,004.90E£
103    859.49E£
104  1,053.31E£

In [14]:
df1.rename(columns={0:'Prices'}, inplace=True)
df1.head()

      Prices
70  782.17E£
71  889.58E£
72  636.26E£
73  789.40E£
74  642.98E£

In [15]:
df1['Prices'].replace('E£','', regex=True, inplace=True)
df1

       Prices
70     782.17
71     889.58
72     636.26
73     789.40
74     642.98
75     769.56
76   1,135.85
77     890.09
78     600.28
79   1,087.10
80   1,126.77
81     655.08
82   1,008.43
83     730.73
84     672.23
85     702.15
86     762.67
87     789.40
88     886.73
89     667.52
90     723.33
91     664.16
92     664.16
93     664.16
94     596.59
95     672.23
96     400.25
97     919.67
98     840.33
99   1,085.42
100    728.54
101    939.68
102  1,004.90
103    859.49
104  1,053.31

In [16]:
df1['Prices'].replace(',','',regex=True, inplace=True)
df1.tail()

      Prices
100   728.54
101   939.68
102  1004.90
103   859.49
104  1053.31

In [17]:
df1['Prices'] = pd.to_numeric(df1['Prices'])
df1.tail()

      Prices
100   728.54
101   939.68
102  1004.90
103   859.49
104  1053.31

In [18]:
df_boot = df.join(df1)
df_boot

                                                 Names   Prices
70             Men Leather Non Slip Casual Ankle Boots   782.17
71        Men Retro Leather Cloth Splicing Ankle Boots   889.58
72              Men Waterproof Warm Lining Ankle Boots   636.26
73            Men British Stylish Cap Toe Casual Boots   789.40
74              Men Old Peking Style Fabric Warn Boots   642.98
75            Men Outdoor Waterproof Warm Hiking Boots   769.56
76        MenicoMenico Men Suede Lace Up Desert Boots   1135.85
77       Men British Style Comfy Leather Chelsea Boots   890.09
78             Men Stylish Work Style Motorcycle Boots   600.28
79         MenicoMenico Men Suede Non Slip Ankle Boots  1087.10
80       Men Retro Leather Non Slip Casual Ankle Boots  1126.77
81                Men PU Leather Non Slip Causal Boots   655.08
82            Men Carved Leather Non Slip Casual Boots  1008.43
83              Men England Style  Boots Sports Shoes    730.73
84                   Men Pointed  Block Style  Boots     672.23
85           Men Rubber Toe Bumper Leather Ankle Boots   702.15
86                 Men Outdoor Work Style Hiking Boots   762.67
87    Men Hand Stitching Leather Non-slip Casual Boots   789.40
88    MenicoMenico Men Harness-Strap Hand Stitching...   886.73
89           Men Work Style Slip Resistant Ankle Boots   667.52
90    MenicoMenico Men Plush Lining Casual Ankle Boots   723.33
91    MenicoMenico Men Comfy Moccasin Toe Leather A...   664.16
92      MenicoMen Hand Stitching Casual Leathers Boots   664.16
93    MenicoMen Microfiber Leather Outdoor Ankle Boots   664.16
94                   Men Outdoor Climbing Hiking Boots   596.59
95               Men Comfy Elastic Slip On Ankle Boots   672.23
96    MenicoMenico Classic Round Toe Leather Ankle ...   400.25
97                     Men Stylish Suede Chelsea Boots   919.67
98          Men Cow Leather Hand Stitching Ankle Boots   840.33
99       Men Suede Canvas Splicing Outdoor Ankle Boots  1085.42
100        Men PU Leather Outdoor Casual Tooling Boots   728.54
101              Men Cow Leather Non Slip Ankle Boots    939.68
102      Men Waterproof Microfiber Leather Ankle Boots  1004.90
103           Men Metal Non Slip Casual Leather Boots    859.49
104  Men Suede Fabric Splicing Non-slip Outdoor Boots   1053.31

In [20]:
df_boot.shape

(35, 2)

In [21]:
df_f = pd.DataFrame({'Type':['Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots','Boots']},index=x)
df_f

      Type
70   Boots
71   Boots
72   Boots
73   Boots
74   Boots
75   Boots
76   Boots
77   Boots
78   Boots
79   Boots
80   Boots
81   Boots
82   Boots
83   Boots
84   Boots
85   Boots
86   Boots
87   Boots
88   Boots
89   Boots
90   Boots
91   Boots
92   Boots
93   Boots
94   Boots
95   Boots
96   Boots
97   Boots
98   Boots
99   Boots
100  Boots
101  Boots
102  Boots
103  Boots
104  Boots

In [22]:
df_data = df_f.join(df_boot)
df_data

      Type                                              Names   Prices
70   Boots            Men Leather Non Slip Casual Ankle Boots   782.17
71   Boots       Men Retro Leather Cloth Splicing Ankle Boots   889.58
72   Boots             Men Waterproof Warm Lining Ankle Boots   636.26
73   Boots           Men British Stylish Cap Toe Casual Boots   789.40
74   Boots             Men Old Peking Style Fabric Warn Boots   642.98
75   Boots           Men Outdoor Waterproof Warm Hiking Boots   769.56
76   Boots       MenicoMenico Men Suede Lace Up Desert Boots   1135.85
77   Boots      Men British Style Comfy Leather Chelsea Boots   890.09
78   Boots            Men Stylish Work Style Motorcycle Boots   600.28
79   Boots        MenicoMenico Men Suede Non Slip Ankle Boots  1087.10
80   Boots      Men Retro Leather Non Slip Casual Ankle Boots  1126.77
81   Boots               Men PU Leather Non Slip Causal Boots   655.08
82   Boots           Men Carved Leather Non Slip Casual Boots  1008.43
83   Boots             Men England Style  Boots Sports Shoes    730.73
84   Boots                  Men Pointed  Block Style  Boots     672.23
85   Boots          Men Rubber Toe Bumper Leather Ankle Boots   702.15
86   Boots                Men Outdoor Work Style Hiking Boots   762.67
87   Boots   Men Hand Stitching Leather Non-slip Casual Boots   789.40
88   Boots   MenicoMenico Men Harness-Strap Hand Stitching...   886.73
89   Boots          Men Work Style Slip Resistant Ankle Boots   667.52
90   Boots   MenicoMenico Men Plush Lining Casual Ankle Boots   723.33
91   Boots   MenicoMenico Men Comfy Moccasin Toe Leather A...   664.16
92   Boots     MenicoMen Hand Stitching Casual Leathers Boots   664.16
93   Boots   MenicoMen Microfiber Leather Outdoor Ankle Boots   664.16
94   Boots                  Men Outdoor Climbing Hiking Boots   596.59
95   Boots              Men Comfy Elastic Slip On Ankle Boots   672.23
96   Boots   MenicoMenico Classic Round Toe Leather Ankle ...   400.25
97   Boots                    Men Stylish Suede Chelsea Boots   919.67
98   Boots         Men Cow Leather Hand Stitching Ankle Boots   840.33
99   Boots      Men Suede Canvas Splicing Outdoor Ankle Boots  1085.42
100  Boots        Men PU Leather Outdoor Casual Tooling Boots   728.54
101  Boots              Men Cow Leather Non Slip Ankle Boots    939.68
102  Boots      Men Waterproof Microfiber Leather Ankle Boots  1004.90
103  Boots           Men Metal Non Slip Casual Leather Boots    859.49
104  Boots  Men Suede Fabric Splicing Non-slip Outdoor Boots   1053.31

In [23]:
df_data.index.name='ID'

In [24]:
df_data.to_csv('Boots.csv')