In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.newchic.com/slippers-c-3619/?country=63&conversionType=US&from=nav'
html = urlopen(url)

In [3]:
soup = BeautifulSoup(html)

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_86\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_86\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [4]:
data_name = soup.findAll('p', class_='wom_lst_name ellipsis')
data_name

[<p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1541508.html?rmmds=category" target="_blank" title="Men Light Weight Soft Beach Slippers">Men Light Weight Soft Beach Slippers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-sandals-4188/p-1541509.html?rmmds=category" target="_blank" title="Men Non Slip Beach Casual Leather Sandals">Men Non Slip Beach Casual Leather Sandals</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1541505.html?rmmds=category" target="_blank" title="Men Clip Toe Soft Casual Beach Slippers ">Men Clip Toe Soft Casual Beach Slippers </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1541494.html?rmmds=category" target="_blank" title="Men Light Weight Casual Beach Slippers">Men Light Weight Casual Beach Slippers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1541496.html?rmmds=category" target="_blank" title="Men Stylish Soft Casual Beach Slippers ">Men Stylish Soft Casual Beach Slippers </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1541497.html?rmmds=category" target="_blank" title="Men Light Weight Soft Beach Slippers">Men Light Weight Soft Beach Slippers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href="">UREVO</a>
 <a href="https://www.newchic.com/urevo-slippers-3619/p-1502156.html?rmmds=category" target="_blank" title="UREVO Flip Flops Summer Beach Slippers">UREVO Flip Flops Summer Beach Slippers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1540212.html?rmmds=category" target="_blank" title="Men Light Weight Casual Beach Slippers ">Men Light Weight Casual Beach Slippers </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1537652.html?rmmds=category" target="_blank" title="Men Water Beach Soft Flip Flops">Men Water Beach Soft Flip Flops</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1536225.html?rmmds=category" target="_blank" title="Men Colorful Printing Graffiti Slippers">Men Colorful Printing Graffiti Slippers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1536224.html?rmmds=category" target="_blank" title="Men Colorful Printing Beach Slippers">Men Colorful Printing Beach Slippers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1536219.html?rmmds=category" target="_blank" title="Men Colorful Printing Graffiti Beach Slippers">Men Colorful Printing Graffiti Beach Slippers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1535323.html?rmmds=category" target="_blank" title="Men Colorful Comfy Non Slip Flip Flops">Men Colorful Comfy Non Slip Flip Flops</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1535319.html?rmmds=category" target="_blank" title="Men Colorful Non Slip Flip Flops ">Men Colorful Non Slip Flip Flops </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1534762.html?rmmds=category" target="_blank" title="Men Leather Splcing Comfy Flip Flops">Men Leather Splcing Comfy Flip Flops</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1533318.html?rmmds=category" target="_blank" title="Men Light Weight Soft Beach Flip Flops">Men Light Weight Soft Beach Flip Flops</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-slippers-3619/p-1532698.html?rmmds=category" target="_blank" title="Menico Men Retro Comfy Casual Beach Slippers ">Menico Men Retro Comfy Casual Beach Slippers </a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-slippers-3619/p-1532688.html?rmmds=category" target="_blank" title="Menico Men Retro Leather Comfy Beach Slippers">Menico Men Retro Leather Comfy Beach Slippers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/mens-sandals-4188/p-1523204.html?rmmds=category" target="_blank" title="Men Oil Leather Toe Protective Water Slippers">Men Oil Leather Toe Protective Water Slippers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-slippers-3619/p-1520339.html?rmmds=category" target="_blank" title="Menico Men Clip Toe Comfy Soft Slippers">Menico Men Clip Toe Comfy Soft Slippers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a class="brand" href=""> Menico</a>
 <a href="https://www.newchic.com/-menico-slippers-3619/p-1520338.html?rmmds=category" target="_blank" title="Menico Men Comfy Soft Slip On Slippers">Menico Men Comfy Soft Slip On Slippers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1515307.html?rmmds=category" target="_blank" title="Tian Men's Casual Leather Sandals Men's Breathable Trend Outdoor Beach Leather 38-47 Men's Shoes">Tian Men's Casual Leather Sandals Men's Breathable Trend Outdoor Beach Leather 38-47 Men's Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1515294.html?rmmds=category" target="_blank" title="Men's Cool Shoes Shoes Men's Tide Leather Beach Shoes Casual Personality Fashion Dual-use Sandals And Slippers European Station">Men's Cool Shoes Shoes Men's Tide Leather Beach Shoes Casual Personality Fashion Dual-use Sandals And Slippers European Station</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1515292.html?rmmds=category" target="_blank" title="Slippers Men's Season Outdoor Word Drag Beach Sandals Herringbone Sandals Fashion Wear Casual Personality Tide">Slippers Men's Season Outdoor Word Drag Beach Sandals Herringbone Sandals Fashion Wear Casual Personality Tide</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1515289.html?rmmds=category" target="_blank" title="Season New Men's Sandals Buckle Buckle Word Beach Shoes Indoor And Outdoor Slippers Men's Fashion Trend">Season New Men's Sandals Buckle Buckle Word Beach Shoes Indoor And Outdoor Slippers Men's Fashion Trend</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1515290.html?rmmds=category" target="_blank" title="Men's Season Slippers Men's Personality Fashion Wear Indoor Home Bathroom Bath Non-slip Household Sandals And Slippers Women">Men's Season Slippers Men's Personality Fashion Wear Indoor Home Bathroom Bath Non-slip Household Sandals And Slippers Women</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1515291.html?rmmds=category" target="_blank" title="Flip-flop Male Tide Season Men's Personality Outdoor Wear Beach Shoes Trend Fashion Sandals And Slippers Men">Flip-flop Male Tide Season Men's Personality Outdoor Wear Beach Shoes Trend Fashion Sandals And Slippers Men</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1515315.html?rmmds=category" target="_blank" title="New Season Bear Bottom Sandals Men's Sandals And Slippers Trend Personality Student Sports And Leisure Beach Shoes">New Season Bear Bottom Sandals Men's Sandals And Slippers Trend Personality Student Sports And Leisure Beach Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1514910.html?rmmds=category" target="_blank" title="Men Clip Toe Comfy Water Beach Slippers">Men Clip Toe Comfy Water Beach Slippers</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1513067.html?rmmds=category" target="_blank" title="Hole Shoes Men's New Season Couple Fashion Outdoor Baotou Sandals And Slippers Men's Dual-use Non-slip Beach Shoes">Hole Shoes Men's New Season Couple Fashion Outdoor Baotou Sandals And Slippers Men's Dual-use Non-slip Beach Shoes</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1513063.html?rmmds=category" target="_blank" title="Youth Sandals And Slippers Dual-use Driving Men's Soil Trend Youth Ins Tide Network Red Fashion Personality Student Wild">Youth Sandals And Slippers Dual-use Driving Men's Soil Trend Youth Ins Tide Network Red Fashion Personality Student Wild</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1513064.html?rmmds=category" target="_blank" title="New Fashion Bathroom Slippers Male Beach Non-slip Thick Bottom Word Drag Outdoor Casual Sandals">New Fashion Bathroom Slippers Male Beach Non-slip Thick Bottom Word Drag Outdoor Casual Sandals</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1513065.html?rmmds=category" target="_blank" title="New Trend Slippers Men's Non-slip Wild Sandals And Slippers Flip Flops Men's Simple Fashion Wear">New Trend Slippers Men's Non-slip Wild Sandals And Slippers Flip Flops Men's Simple Fashion Wear</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1513066.html?rmmds=category" target="_blank" title=" Men And Women Beach Shoes Cool Holiday Couples Set Of Slipp"> Men And Women Beach Shoes Cool Holiday Couples Set Of Slipp</a>
 </p>, <p class="wom_lst_name ellipsis">
 <a href="https://www.newchic.com/slippers-3619/p-1513062.html?rmmds=category" target="_blank" title="Generation Season Super Ins Men's Sandals Canvas Slippers Personality Non-slip Word Drag Outdoor Thick Bottom Tide">Generation Season Super Ins Men's Sandals Canvas Slippers Personality Non-slip Word Drag Outdoor Thick Bottom Tide</a>
 </p>]

In [5]:
## Clean Data ##
import re
Names = []
for li in data_name:
    str_name = str(li)
    pattern = '<.*?>'
    clean_name = re.sub(pattern, '', str_name)
    Names.append(clean_name)
Names

['\nMen Light Weight Soft Beach Slippers\n',
 '\nMen Non Slip Beach Casual Leather Sandals\n',
 '\nMen Clip Toe Soft Casual Beach Slippers \n',
 '\nMen Light Weight Casual Beach Slippers\n',
 '\nMen Stylish Soft Casual Beach Slippers \n',
 '\nMen Light Weight Soft Beach Slippers\n',
 '\nUREVO\nUREVO Flip Flops Summer Beach Slippers\n',
 '\nMen Light Weight Casual Beach Slippers \n',
 '\nMen Water Beach Soft Flip Flops\n',
 '\nMen Colorful Printing Graffiti Slippers\n',
 '\nMen Colorful Printing Beach Slippers\n',
 '\nMen Colorful Printing Graffiti Beach Slippers\n',
 '\nMen Colorful Comfy Non Slip Flip Flops\n',
 '\nMen Colorful Non Slip Flip Flops \n',
 '\nMen Leather Splcing Comfy Flip Flops\n',
 '\nMen Light Weight Soft Beach Flip Flops\n',
 '\n Menico\nMenico Men Retro Comfy Casual Beach Slippers \n',
 '\n Menico\nMenico Men Retro Leather Comfy Beach Slippers\n',
 '\nMen Oil Leather Toe Protective Water Slippers\n',
 '\n Menico\nMenico Men Clip Toe Comfy Soft Slippers\n',
 '\n Menico\nMenico Men Comfy Soft Slip On Slippers\n',
 "\nTian Men's Casual Leather Sandals Men's Breathable Trend Outdoor Beach Leather 38-47 Men's Shoes\n",
 "\nMen's Cool Shoes Shoes Men's Tide Leather Beach Shoes Casual Personality Fashion Dual-use Sandals And Slippers European Station\n",
 "\nSlippers Men's Season Outdoor Word Drag Beach Sandals Herringbone Sandals Fashion Wear Casual Personality Tide\n",
 "\nSeason New Men's Sandals Buckle Buckle Word Beach Shoes Indoor And Outdoor Slippers Men's Fashion Trend\n",
 "\nMen's Season Slippers Men's Personality Fashion Wear Indoor Home Bathroom Bath Non-slip Household Sandals And Slippers Women\n",
 "\nFlip-flop Male Tide Season Men's Personality Outdoor Wear Beach Shoes Trend Fashion Sandals And Slippers Men\n",
 "\nNew Season Bear Bottom Sandals Men's Sandals And Slippers Trend Personality Student Sports And Leisure Beach Shoes\n",
 '\nMen Clip Toe Comfy Water Beach Slippers\n',
 "\nHole Shoes Men's New Season Couple Fashion Outdoor Baotou Sandals And Slippers Men's Dual-use Non-slip Beach Shoes\n",
 "\nYouth Sandals And Slippers Dual-use Driving Men's Soil Trend Youth Ins Tide Network Red Fashion Personality Student Wild\n",
 '\nNew Fashion Bathroom Slippers Male Beach Non-slip Thick Bottom Word Drag Outdoor Casual Sandals\n',
 "\nNew Trend Slippers Men's Non-slip Wild Sandals And Slippers Flip Flops Men's Simple Fashion Wear\n",
 '\n Men And Women Beach Shoes Cool Holiday Couples Set Of Slipp\n',
 "\nGeneration Season Super Ins Men's Sandals Canvas Slippers Personality Non-slip Word Drag Outdoor Thick Bottom Tide\n"]

In [6]:
x = pd.Index(range(175,210))
print(x)

RangeIndex(start=175, stop=210, step=1)

In [7]:
df = pd.DataFrame(Names,index=x)
df.head()

                                                 0
175       \nMen Light Weight Soft Beach Slippers\n
176  \nMen Non Slip Beach Casual Leather Sandals\n
177   \nMen Clip Toe Soft Casual Beach Slippers \n
178     \nMen Light Weight Casual Beach Slippers\n
179    \nMen Stylish Soft Casual Beach Slippers \n

In [8]:
df[0] = df[0].str.strip('\n')
df.head()

                                             0
175       Men Light Weight Soft Beach Slippers
176  Men Non Slip Beach Casual Leather Sandals
177   Men Clip Toe Soft Casual Beach Slippers
178     Men Light Weight Casual Beach Slippers
179    Men Stylish Soft Casual Beach Slippers

In [9]:
df.rename(columns={0:'Names'}, inplace=True)

In [10]:
df['Names'].replace('\n','', regex=True, inplace=True)
df

                                                 Names
175               Men Light Weight Soft Beach Slippers
176          Men Non Slip Beach Casual Leather Sandals
177           Men Clip Toe Soft Casual Beach Slippers
178             Men Light Weight Casual Beach Slippers
179            Men Stylish Soft Casual Beach Slippers
180               Men Light Weight Soft Beach Slippers
181        UREVOUREVO Flip Flops Summer Beach Slippers
182            Men Light Weight Casual Beach Slippers
183                    Men Water Beach Soft Flip Flops
184            Men Colorful Printing Graffiti Slippers
185               Men Colorful Printing Beach Slippers
186      Men Colorful Printing Graffiti Beach Slippers
187             Men Colorful Comfy Non Slip Flip Flops
188                  Men Colorful Non Slip Flip Flops
189               Men Leather Splcing Comfy Flip Flops
190             Men Light Weight Soft Beach Flip Flops
191   MenicoMenico Men Retro Comfy Casual Beach Sli...
192   MenicoMenico Men Retro Leather Comfy Beach Sl...
193      Men Oil Leather Toe Protective Water Slippers
194      MenicoMenico Men Clip Toe Comfy Soft Slippers
195       MenicoMenico Men Comfy Soft Slip On Slippers
196  Tian Men's Casual Leather Sandals Men's Breath...
197  Men's Cool Shoes Shoes Men's Tide Leather Beac...
198  Slippers Men's Season Outdoor Word Drag Beach ...
199  Season New Men's Sandals Buckle Buckle Word Be...
200  Men's Season Slippers Men's Personality Fashio...
201  Flip-flop Male Tide Season Men's Personality O...
202  New Season Bear Bottom Sandals Men's Sandals A...
203            Men Clip Toe Comfy Water Beach Slippers
204  Hole Shoes Men's New Season Couple Fashion Out...
205  Youth Sandals And Slippers Dual-use Driving Me...
206  New Fashion Bathroom Slippers Male Beach Non-s...
207  New Trend Slippers Men's Non-slip Wild Sandals...
208   Men And Women Beach Shoes Cool Holiday Couple...
209  Generation Season Super Ins Men's Sandals Canv...

In [11]:
data_price = soup.findAll('span', class_='price product-price-js')
data_price

[<span class="price product-price-js" oriprice="22.08" rule_final_price="">371.16E£</span>,
 <span class="price product-price-js" oriprice="19.99" rule_final_price="">336.03E£</span>,
 <span class="price product-price-js" oriprice="27.44" rule_final_price="">461.27E£</span>,
 <span class="price product-price-js" oriprice="19.99" rule_final_price="">336.03E£</span>,
 <span class="price product-price-js" oriprice="34.2" rule_final_price="">574.90E£</span>,
 <span class="price product-price-js" oriprice="27.44" rule_final_price="">461.27E£</span>,
 <span class="price product-price-js" oriprice="10.99" rule_final_price="">184.74E£</span>,
 <span class="price product-price-js" oriprice="14.93" rule_final_price="">250.97E£</span>,
 <span class="price product-price-js" oriprice="18.57" rule_final_price="">312.16E£</span>,
 <span class="price product-price-js" oriprice="28.79" rule_final_price="">483.96E£</span>,
 <span class="price product-price-js" oriprice="28.47" rule_final_price="">478.58E£</span>,
 <span class="price product-price-js" oriprice="29.15" rule_final_price="">490.01E£</span>,
 <span class="price product-price-js" oriprice="35.45" rule_final_price="">595.91E£</span>,
 <span class="price product-price-js" oriprice="29.54" rule_final_price="">496.57E£</span>,
 <span class="price product-price-js" oriprice="34.51" rule_final_price="">580.11E£</span>,
 <span class="price product-price-js" oriprice="17.25" rule_final_price="">289.97E£</span>,
 <span class="price product-price-js" oriprice="33.43" rule_final_price="">561.96E£</span>,
 <span class="price product-price-js" oriprice="33.43" rule_final_price="">561.96E£</span>,
 <span class="price product-price-js" oriprice="45.73" rule_final_price="">768.72E£</span>,
 <span class="price product-price-js" oriprice="29.99" rule_final_price="">504.13E£</span>,
 <span class="price product-price-js" oriprice="28.59" rule_final_price="">480.60E£</span>,
 <span class="price product-price-js" oriprice="29.07" rule_final_price="">488.67E£</span>,
 <span class="price product-price-js" oriprice="31.03" rule_final_price="">521.61E£</span>,
 <span class="price product-price-js" oriprice="21.87" rule_final_price="">367.63E£</span>,
 <span class="price product-price-js" oriprice="27.43" rule_final_price="">461.10E£</span>,
 <span class="price product-price-js" oriprice="23.51" rule_final_price="">395.20E£</span>,
 <span class="price product-price-js" oriprice="24.49" rule_final_price="">411.68E£</span>,
 <span class="price product-price-js" oriprice="28.42" rule_final_price="">477.74E£</span>,
 <span class="price product-price-js" oriprice="33.76" rule_final_price="">567.50E£</span>,
 <span class="price product-price-js" oriprice="26.06" rule_final_price="">438.07E£</span>,
 <span class="price product-price-js" oriprice="27.69" rule_final_price="">465.47E£</span>,
 <span class="price product-price-js" oriprice="17.81" rule_final_price="">299.39E£</span>,
 <span class="price product-price-js" oriprice="15.88" rule_final_price="">266.94E£</span>,
 <span class="price product-price-js" oriprice="19.51" rule_final_price="">327.96E£</span>,
 <span class="price product-price-js" oriprice="27.38" rule_final_price="">460.26E£</span>]

In [12]:
## Clean Data ##
import re
Prices = []
for li in data_price:
    str_name = str(li)
    pattern = '<.*?>'
    clean_name = re.sub(pattern, '', str_name)
    Prices.append(clean_name)
Prices

['371.16E£',
 '336.03E£',
 '461.27E£',
 '336.03E£',
 '574.90E£',
 '461.27E£',
 '184.74E£',
 '250.97E£',
 '312.16E£',
 '483.96E£',
 '478.58E£',
 '490.01E£',
 '595.91E£',
 '496.57E£',
 '580.11E£',
 '289.97E£',
 '561.96E£',
 '561.96E£',
 '768.72E£',
 '504.13E£',
 '480.60E£',
 '488.67E£',
 '521.61E£',
 '367.63E£',
 '461.10E£',
 '395.20E£',
 '411.68E£',
 '477.74E£',
 '567.50E£',
 '438.07E£',
 '465.47E£',
 '299.39E£',
 '266.94E£',
 '327.96E£',
 '460.26E£']

In [13]:
df1 = pd.DataFrame(Prices, index=x)
df1

            0
175  371.16E£
176  336.03E£
177  461.27E£
178  336.03E£
179  574.90E£
180  461.27E£
181  184.74E£
182  250.97E£
183  312.16E£
184  483.96E£
185  478.58E£
186  490.01E£
187  595.91E£
188  496.57E£
189  580.11E£
190  289.97E£
191  561.96E£
192  561.96E£
193  768.72E£
194  504.13E£
195  480.60E£
196  488.67E£
197  521.61E£
198  367.63E£
199  461.10E£
200  395.20E£
201  411.68E£
202  477.74E£
203  567.50E£
204  438.07E£
205  465.47E£
206  299.39E£
207  266.94E£
208  327.96E£
209  460.26E£

In [14]:
df1.rename(columns={0:'Prices'}, inplace=True)
df1.head()

       Prices
175  371.16E£
176  336.03E£
177  461.27E£
178  336.03E£
179  574.90E£

In [15]:
df1['Prices'].replace('E£','', regex=True, inplace=True)
df1

     Prices
175  371.16
176  336.03
177  461.27
178  336.03
179  574.90
180  461.27
181  184.74
182  250.97
183  312.16
184  483.96
185  478.58
186  490.01
187  595.91
188  496.57
189  580.11
190  289.97
191  561.96
192  561.96
193  768.72
194  504.13
195  480.60
196  488.67
197  521.61
198  367.63
199  461.10
200  395.20
201  411.68
202  477.74
203  567.50
204  438.07
205  465.47
206  299.39
207  266.94
208  327.96
209  460.26

In [16]:
df1['Prices'].replace(',','',regex=True, inplace=True)
df1.tail()

     Prices
205  465.47
206  299.39
207  266.94
208  327.96
209  460.26

In [17]:
df1['Prices'] = pd.to_numeric(df1['Prices'])
df1.tail()

     Prices
205  465.47
206  299.39
207  266.94
208  327.96
209  460.26

In [18]:
df_slippers = df.join(df1)
df_slippers

                                                 Names  Prices
175               Men Light Weight Soft Beach Slippers  371.16
176          Men Non Slip Beach Casual Leather Sandals  336.03
177           Men Clip Toe Soft Casual Beach Slippers   461.27
178             Men Light Weight Casual Beach Slippers  336.03
179            Men Stylish Soft Casual Beach Slippers   574.90
180               Men Light Weight Soft Beach Slippers  461.27
181        UREVOUREVO Flip Flops Summer Beach Slippers  184.74
182            Men Light Weight Casual Beach Slippers   250.97
183                    Men Water Beach Soft Flip Flops  312.16
184            Men Colorful Printing Graffiti Slippers  483.96
185               Men Colorful Printing Beach Slippers  478.58
186      Men Colorful Printing Graffiti Beach Slippers  490.01
187             Men Colorful Comfy Non Slip Flip Flops  595.91
188                  Men Colorful Non Slip Flip Flops   496.57
189               Men Leather Splcing Comfy Flip Flops  580.11
190             Men Light Weight Soft Beach Flip Flops  289.97
191   MenicoMenico Men Retro Comfy Casual Beach Sli...  561.96
192   MenicoMenico Men Retro Leather Comfy Beach Sl...  561.96
193      Men Oil Leather Toe Protective Water Slippers  768.72
194      MenicoMenico Men Clip Toe Comfy Soft Slippers  504.13
195       MenicoMenico Men Comfy Soft Slip On Slippers  480.60
196  Tian Men's Casual Leather Sandals Men's Breath...  488.67
197  Men's Cool Shoes Shoes Men's Tide Leather Beac...  521.61
198  Slippers Men's Season Outdoor Word Drag Beach ...  367.63
199  Season New Men's Sandals Buckle Buckle Word Be...  461.10
200  Men's Season Slippers Men's Personality Fashio...  395.20
201  Flip-flop Male Tide Season Men's Personality O...  411.68
202  New Season Bear Bottom Sandals Men's Sandals A...  477.74
203            Men Clip Toe Comfy Water Beach Slippers  567.50
204  Hole Shoes Men's New Season Couple Fashion Out...  438.07
205  Youth Sandals And Slippers Dual-use Driving Me...  465.47
206  New Fashion Bathroom Slippers Male Beach Non-s...  299.39
207  New Trend Slippers Men's Non-slip Wild Sandals...  266.94
208   Men And Women Beach Shoes Cool Holiday Couple...  327.96
209  Generation Season Super Ins Men's Sandals Canv...  460.26

In [19]:
df_slippers.shape

(35, 2)

In [20]:
df_f = pd.DataFrame({'Type':['Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers','Slippers']},index=x)
df_f

         Type
175  Slippers
176  Slippers
177  Slippers
178  Slippers
179  Slippers
180  Slippers
181  Slippers
182  Slippers
183  Slippers
184  Slippers
185  Slippers
186  Slippers
187  Slippers
188  Slippers
189  Slippers
190  Slippers
191  Slippers
192  Slippers
193  Slippers
194  Slippers
195  Slippers
196  Slippers
197  Slippers
198  Slippers
199  Slippers
200  Slippers
201  Slippers
202  Slippers
203  Slippers
204  Slippers
205  Slippers
206  Slippers
207  Slippers
208  Slippers
209  Slippers

In [21]:
df_data = df_f.join(df_slippers)
df_data

         Type                                              Names  Prices
175  Slippers               Men Light Weight Soft Beach Slippers  371.16
176  Slippers          Men Non Slip Beach Casual Leather Sandals  336.03
177  Slippers           Men Clip Toe Soft Casual Beach Slippers   461.27
178  Slippers             Men Light Weight Casual Beach Slippers  336.03
179  Slippers            Men Stylish Soft Casual Beach Slippers   574.90
180  Slippers               Men Light Weight Soft Beach Slippers  461.27
181  Slippers        UREVOUREVO Flip Flops Summer Beach Slippers  184.74
182  Slippers            Men Light Weight Casual Beach Slippers   250.97
183  Slippers                    Men Water Beach Soft Flip Flops  312.16
184  Slippers            Men Colorful Printing Graffiti Slippers  483.96
185  Slippers               Men Colorful Printing Beach Slippers  478.58
186  Slippers      Men Colorful Printing Graffiti Beach Slippers  490.01
187  Slippers             Men Colorful Comfy Non Slip Flip Flops  595.91
188  Slippers                  Men Colorful Non Slip Flip Flops   496.57
189  Slippers               Men Leather Splcing Comfy Flip Flops  580.11
190  Slippers             Men Light Weight Soft Beach Flip Flops  289.97
191  Slippers   MenicoMenico Men Retro Comfy Casual Beach Sli...  561.96
192  Slippers   MenicoMenico Men Retro Leather Comfy Beach Sl...  561.96
193  Slippers      Men Oil Leather Toe Protective Water Slippers  768.72
194  Slippers      MenicoMenico Men Clip Toe Comfy Soft Slippers  504.13
195  Slippers       MenicoMenico Men Comfy Soft Slip On Slippers  480.60
196  Slippers  Tian Men's Casual Leather Sandals Men's Breath...  488.67
197  Slippers  Men's Cool Shoes Shoes Men's Tide Leather Beac...  521.61
198  Slippers  Slippers Men's Season Outdoor Word Drag Beach ...  367.63
199  Slippers  Season New Men's Sandals Buckle Buckle Word Be...  461.10
200  Slippers  Men's Season Slippers Men's Personality Fashio...  395.20
201  Slippers  Flip-flop Male Tide Season Men's Personality O...  411.68
202  Slippers  New Season Bear Bottom Sandals Men's Sandals A...  477.74
203  Slippers            Men Clip Toe Comfy Water Beach Slippers  567.50
204  Slippers  Hole Shoes Men's New Season Couple Fashion Out...  438.07
205  Slippers  Youth Sandals And Slippers Dual-use Driving Me...  465.47
206  Slippers  New Fashion Bathroom Slippers Male Beach Non-s...  299.39
207  Slippers  New Trend Slippers Men's Non-slip Wild Sandals...  266.94
208  Slippers   Men And Women Beach Shoes Cool Holiday Couple...  327.96
209  Slippers  Generation Season Super Ins Men's Sandals Canv...  460.26

In [22]:
df_data.index.name='ID'

In [23]:
df_data.to_csv('Slippers.csv')